<p style="color: green"><%= notice %></p>
<div class="text-center col-12 m-auto">
    <%= render @post %>
    <%= @post.user.email %>
    <% if user_signed_in? %>
        <% if current_user.id == @post.user.id %>
            <div>
                <%= link_to "Edit this post", edit_post_path(@post) %> |
                <%= button_to "Destroy this post", @post, method: :delete %>
            </div>
        <% end %>
    <% end %>
    <% if user_signed_in? %>
        <%#= render "comments/form", comment: @comment %>
    <% end %>
    <%
=begin%>
 <%- @post.comments.each do |comment| %>
        <% if comment.text? %>
            <div class="d-flex justify-content-center">
                <b style="max-width: 290px"><%= comment.text %></b> 
            </div>
        <% else %>
            <% if !@post.comments[0].text? %>
                <% if user_signed_in? %>
                    No comments yet<br/>
                    <b style="max-width: 290px">Be the first to comment</b> 
                <% else %>
                    No comments yet<br/>
                    <a href="/users/sign_in"><b style="max-width: 290px">Be the first to comment</b></a>
                <% end %>
            <% end %>
        <% end %>
    <% end %> 
<%
=end%>
</div>